body {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Poppins", sans-serif;
}

header {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
  padding: 0 0 30px;
}

.weather-app-container {
  border-radius: 10px;
  margin: 60px auto;
  max-width: 600px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.05);
}

.search-form-input {
  background-color: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  padding: 15px;
  width: 75%;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 200;
}

.search-form-button {
  background-color: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  padding: 17px;
  width: 100px;
  font-size: 14px;
  border-radius: 10px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 200;
}
.search-form-button:hover {
  background: rgba(255, 255, 255, 0.4);
  color: rgba(238, 174, 202, 1);
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 30px 0 30px;
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
}

.weather-app-details {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  margin: 30px 0 30px;
}
.windSpeed {
  color: rgba(148, 187, 233, 1);
  font-weight: 400;
}

.humidity {
  color: rgba(148, 187, 233, 1);
  font-weight: 400;
}

.temperature-container {
  display: flex;
}

.temperature-icon {
  margin-top: 60px;
}

.temperature-number {
  font-size: 80px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.temperature-unit {
  font-size: 20px;
  margin-top: 75px;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  line-height: 20px;
}
.weather-forecast-icon {
  font-size: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.weather-forecast-temperatures {
  text-align: center;
  color: rgba(148, 187, 233, 1);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 30px;
}

footer {
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
  padding: 30px 0 0;
  font-size: 12px;
  text-align: center;
  margin: 10px 0px 5px;
  color: rgba(67, 64, 64, 0.4);
}

a {
  color: rgb(238, 174, 202);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
